.boxOne {
  min-width: 100px;
  padding-bottom: 15px;
}
.boxOne .header {
  height: 23px;
  padding-top: 5px;
  padding-left: 15px;
  text-align: left;
  background-color: #585858;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.boxOne .header span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.boxOne .content {
  border: thin solid #ccc;
  overflow: auto;
  min-height: 30px;
  position: relative;

  display: block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-top:15px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -khtml-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

.boxTwo {
  min-width: 100px;
  padding-bottom: 15px;
}

.boxTwo .header {
  height: 23px;
  padding-top: 5px;
  padding-left: 15px;
  text-align: left;
  background-color: #585858;
}

.boxTwo .header span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.boxTwo .content {
  border: thin solid #ccc;
  overflow: auto;
  min-height: 30px;
  position: relative;

  display: block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-top:15px;
}